<html>
<head>
    <title>json</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(function () {
            $('#btnJson').click(function () {
                $.get('/booktest/json2/', function (data) {
                    let ul = $('ul');
                    ul.append('<li>' + data['h1'] + '</li>')
                    ul.append('<li>' + data['h2'] + '</li>')
                })
            });
        });
    </script>
</head>
<body>
<input type="button" id="btnJson" value="获取json数据">
<ul id="jsonList"></ul>
</body>
</html>